repos:
- hooks:
  - id: black
    exclude: '^env/'
    exclude: '^dvc/'
    files: '.*\.py'
    language_version: python3
  repo: https://github.com/psf/black
  rev: 22.3.0
-   repo: https://github.com/asottile/seed-isort-config
    rev: v2.1.1
    hooks:
    -   id: seed-isort-config
- hooks:
  - id: isort
    language_version: python3
  repo: https://github.com/timothycrosley/isort
  rev: 4.3.21
- hooks:
  - id: flake8
    exclude: '^env/'
    exclude: '^dvc/'
    files: '.*\.py'
    language_version: python3
  repo: https://github.com/pycqa/flake8
  rev: 3.7.9
- hooks:
    - args:
        - -i
        - "2"
      id: beautysh
      language_version: python3
  repo: https://github.com/lovesegfault/beautysh
  rev: v6.1.0

