scmrepo
virtualenv==20.0.35
gitpython==3.1.11
dvc[all,tests]==2.6.0
awscli==1.19.106
pre-commit==2.11.1
pytest==6.2.4
pytest-mock==3.6.1
feedparser==6.0.8
pytest-benchmark[histogram]
ansi2html
csv2md
